---
import { Image } from "astro:assets";
import * as config from "../config";
---

<nav
    class="flex items-center justify-between py-2 px-8 backdrop-blur-md bg-back-accent/50 w-full top-0 left-0 fixed z-50"
>
    <a href="/index.html" class="nolink flex items-center gap-2">
        <Image
            alt="#"
            src="/favicon.ico"
            class="rounded-md h-full"
            width={32}
            height={32}
        />

        <span>{config.TITLE}</span>
    </a>

    <ul class="flex gap-4">
        <li><a href="/index.html">Home</a></li>
    </ul>
</nav>
