:root {
  --back-1: #141f29;
  --back-accent: #192734;

  --fore-1: #f8f8f8;
  --fore-2: #e2e2e2;
  --fore-muted: #c2c2c2;
  --fore-call: darkcyan;
}

@theme inline {
  --color-back-1: var(--back-1);
  --color-back-accent: var(--back-accent);

  --color-fore-1: var(--fore-1);
  --color-fore-2: var(--fore-2);
  --color-fore-muted: var(--fore-muted);
}