---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import * as config from "../config";
import "../styles/index.css";

const { title, description } = Astro.props as {
    title?: string;
    description?: string;
};
---

<html lang="en">
    <head>
        <!-- Page Metadata -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        />
        <meta name="description" content={description ?? config.DESCRIPTION} />
        <title>{title ?? config.TITLE}</title>
        <!-- Page Resources -->
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <NavBar />
        <slot />
        <Footer />
        <div id="popups" class="flex flex-col-reverse gap-2 bottom-2 right-2 fixed"></div>
    </body>
</html>
